* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

img {
    display:inline-block;
    max-width: 100%;
}

}
@font-face {
  font-family: "Mona Sans";
  src: url("assets/fonts/mona-sans.woff2") format("woff2");
  font-weight: 200 900;
  font-display: swap;
  font-feature-settings: "liga" 0;
}
@font-face {
  font-family: "Mona Sans Mono";
  src: url("assets/fonts/mona-sans-mono.woff2") format("woff2");
  font-weight: 200 900;
  font-display: swap;
  font-feature-settings: "liga" 0;
}


:root {
    --font-body: "Mona Sans";
    --color-black: #000;
    --color-white: #fff;
    --color-border-muted: #191f1b;
    --container-width: 1280px;
}

body {
    font-family: var(--font-body);
}

.hero {
    background: var(--color-black);
    color: var(--color-white);
    text-align: center;
}

.container {
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
}

.hero-content {
    padding: 64px;
    border-left: 1px solid var(--color-border-muted);
    border-right: 1px solid var(--color-border-muted);
}